[build]
  base = "client"
  command = "npm install && npm run build"
  # Base already points at /client so we publish the .next output directly from there
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/plugin-nextjs"
